body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/simple-blue-white-background-with-text-space.jpg);
}


.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.container:hover {
    box-shadow: #1c72ce;
    transform: scale(1.02);
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #007bff;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #007bff;
    border-radius: 6px;
    background-color: #f8f9fa;
    color: #495057;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    color: #007bff;
}





/* Responsive design */
@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    form {
        max-width: 100%;
    }
}